
<div  *ngIf="pokemon" class="mt-3 bg-dark p-5" >
  <img [src]="pokeImg()" alt="{{ pokemon.name }}" width="400px" class="shadown-lg rounded bg-secondary bg-gradient"/>
<div class="container ">
  <div class="display-6 text-white">
    <p> Id: {{pokemon.id}}</p>
    <p> Nome: {{ pokemon.name }}</p>
    <p> Tipo: {{pokeTipo()}}</p>
    <p> Altura: {{pokemon.height}} cm</p>
    <p> Peso: {{pokemon.weight/10}} kg</p>
  </div>
</div>
  <div class="btn btn-warning m-2" (click) = "diminuiPoke()">Anterior</div>
  <div class="btn btn-warning m-2" (click) = "aumentaPoke()">Proximo</div>

</div>

